.container {
    width: 50%;
    overflow-x: auto;
  }
  
  .table-striped {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-striped th,
  .table-striped td {
    padding: 10px;
    text-align: center;
  }
  
  .table-striped th {
    background-color: #f2f2f2;
  }
  
  .table-striped td div {
    margin-bottom: 5px;
    border: none; /* Removed the border property */
  }
  
  
  